<form name="regForm">
    <!-- <div layout layout-sm="column">
      <md-input-container flex>
        <label>Company (Disabled)</label>
        <input ng-model="user.company" disabled>
      </md-input-container>
      <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
    </div> -->
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>First name</label>
        <ng-md-icon icon="twitter" style="fill:#55acee" size="20"></ng-md-icon>
         <input ng-model="user.firstName">
      </md-input-container>
      <md-input-container flex>
        <label>Last Name</label>
        <input ng-model="theMax">
      </md-input-container>
    </div>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>Phone</label>
        <input ng-model="user.phone">
      </md-input-container>
    </div>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>Location</label>
        <input ng-model="user.location">
      </md-input-container>
    </div>
    <div layout layout-sm="column">
      <md-button class="md-raised md-accent" ng-disabled="false" md-ripple-size="full">Sign Up</md-button>
      <md-button class="md-raised md-accent" ng-disabled="false" md-ripple-size="full">Cancel</md-button>
    </div>
    <!-- <md-input-container class="md-block">
      <label>Address</label>
      <input ng-model="user.address">
    </md-input-container> -->
   <!--  <md-input-container md-no-float class="md-block">
      <input ng-model="user.address2" placeholder="Address 2">
    </md-input-container> -->
    <!-- <div layout layout-sm="column">
      <md-input-container flex>
        <label>City</label>
        <input ng-model="user.city">
      </md-input-container>
      <md-input-container flex>
        <label>State</label>
        <md-select ng-model="user.state">
          <md-option ng-repeat="state in states" value="{{state.abbrev}}">
            {{state.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label>Postal Code</label>
        <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
               required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
        <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
          <div ng-message="required" class="my-message">You must supply a postal code.</div>
          <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
            code.
          </div>
          <div ng-message="md-maxlength" class="my-message">
            Don't use the long version silly...we don't need to be that specific...
          </div>
        </div>
      </md-input-container>
    </div> -->
    <!-- <md-input-container class="md-block">
      <label>Biography</label>
      <textarea ng-model="user.biography" columns="1" md-maxlength="150" rows="5"></textarea>
    </md-input-container> -->
  </form>