<md-bottom-sheet>
    <md-list>
     <md-subheader class="md-primary"> Start inviting Friends </md-subheader><!--You can use md-no-sticky class-->
    <md-item>
        <a>
            <md-list-item md-ink-ripple layout="row" layout-align="start center" ng-click="submitContact()">
                <div class="inset">
                  <ng-md-icon icon="whatsapp" style="fill:#43d854" size="40"></ng-md-icon>
                </div>
                <div class="inset">
                    Whatsapp
                </div>
          </md-list-item>
        </a>
    </md-item>
    <md-item>
        <a>
            <md-list-item md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="twitter" style="fill:#55acee" size="40"></ng-md-icon>
                </div>
                <div class="inset">
                    Twitter
                </div>
          </md-list-item>
        </a>
    </md-item>
     <md-item>
        <a>
            <md-list-item md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="facebook-messenger" style="fill:#3b5998" size="40"></ng-md-icon>
                </div>
                <div class="inset">
                    Facebook Messenger
                </div>
          </md-list-item>
        </a>
    </md-item>
    <md-item>
        <a>
            <md-list-item md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="email" style="fill:#FF4081" size="40"></ng-md-icon>
                </div>
                <div class="inset">
                    Email
                </div>
          </md-list-item>
        </a>
    </md-item>
    <md-item>
        <a>
            <md-list-item md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="textsms" style="fill:#FF4081" size="40"></ng-md-icon>
                </div>
                <div class="inset">
                    SMS
                </div>
          </md-list-item>
        </a>
    </md-item>
      <md-divider></md-divider>
      <md-item>
      <md-subheader class="md-primary"> Share and Earn </md-subheader><!--You can use md-no-sticky class-->
        <a>
            <md-list-item md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="facebook-box" style="fill:#3b5998" size="40"></ng-md-icon>
                </div>
                <div class="inset">
                    Facebook
                </div>
          </md-list-item>
        </a>
    </md-item>
    </md-list>
</md-bottom-sheet>
