 <md-sidenav layout="horizontal" class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-tall md-hue-2">
      <h1>Menu</h1>
    </md-toolbar>

    <md-list>
      <md-item ng-repeat="item in menus">
        <a>
          <md-list-item md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-list-item>
        </a>
      </md-item>
      <md-divider></md-divider>
    </md-list>
  </md-sidenav>